@tailwind base;
@tailwind components;
@tailwind utilities;
.giris {
    background-image: url("/assets/young-designer.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.yesil {
    background: url("../assets/working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 2s;
}

.yesil:hover {
    background: linear-gradient(0deg, rgba(0, 97, 52, 0.8), rgba(0, 97, 52, 0.8)), url("../assets/working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

textarea {
    resize: none;
}