@tailwind base;
@tailwind components;
@tailwind utilities;
.giris {
    background-image: url("../assets/young-designer.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.yesil {
    background: url("../assets/working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
}

.yesil:hover {
    background: linear-gradient(0deg, rgba(0, 97, 52, 0.8), rgba(0, 97, 52, 0.8)), url("../assets/working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#resim1 {
    background: url("../assets/working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

textarea {
    resize: none;
}

.beyaz-logo {
    filter: brightness(0) invert(1);
}

input::placeholder {
    color: white;
}